//
// Basic flex setup
//
.row {
	width: 100%;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
	display: flex;
}

//
// Useful variations
//

.row--bottom-margin {
	margin-bottom: 40px;
}

.container--wrap {
	flex-wrap: wrap;
}

.container--justify-center {
	justify-content: center;
}