//
// Footer
//

.footer-row {
	background: $dark-shade;
	color: $light-shade;
}

.footer-container {
	flex-direction: column;

	@include atleast-md {
		flex-direction: row;
		justify-content: space-between;
	}
}

.footer-container a,
.footer-container a:visited {
	padding: 20px 0;
	font-size: 20px;
	font-weight: 700;
	text-align: center;
	color: $light-shade;
}

.footer-container a:hover,
.footer-container a:focus {
	background-color: $primary-gray--darker-3;
}

.footer-container a:active {
	background-color: $dark-shade;
}

.footer {
	display: flex;
	flex-direction: column;
	width: 100%;
	margin-top: 40px;

	@include atleast-md {
		width: 33.333333%;
	}
}

.footer__title {
	padding: 20px 15px 0 15px;
	text-align: center;

	@include lg {
		text-align: left;
	}
}

.title--footer,
.subtitle--footer,
.author--footer {
	margin-top: 0;
	margin-bottom: 20px;
	line-height: 1;
}

.copyright {
	padding: 20px 0;
	text-align: center;
	font-size: 20px;
}

.footer__contact {
	margin-bottom: 40px;
}

.footer__contact a {

	@include lg {
		text-align: right;
		padding-right: 15px;
	}
}