//
// General header styling
//

.header-row {
    position: fixed; // Sticks to top of window
    top: 0;
    left: 0;
    z-index: 999; // On top of everything
    width: 100%;
    margin-bottom: 0;
    background: $light-shade;
    border-bottom: 2px solid $primary-color;
    transition: 0.3s ease; // Transition for scrolling function
}

.header-container {
    justify-content: space-between;
    height: 72px;

    @include above-md {
        height: 50px;
    }
}

.header__name {
    display: none;
    font-family: "Cormorant Garamond", serif;
    font-size: 48px;
    height: 72px;

    @include above-md {
        display: inline;
    }
}

.header__logo {
    height: 72px;
    width: 90px;

    @include above-md {
        //height: 50px;
        //width: 70px;
        display: none;
    }
}

.header__logo img {
    height: 72px;
    width: 90px;
    padding: 7px 15px 5px 15px;

    @include above-md {
        height: 50px;
        width: 70px;
        padding: 6px 15px 4px 15px;
    }
}

@media (prefers-color-scheme: dark) {
    .header-row {
        background: $primary-color;
        border-bottom: 2px solid $light-shade;
    }

    .header-row a,
    .header-row a:visited {
        color: $light-shade;
    }

    .header-row a:hover,
    .header-row a:focus {
        color: $light-shade--darker-2;
    }

    .header-row a:active {
        color: $light-shade--darker-4;
    }
}
