/*
 * Background image
 */

.background-image {
	height: 240px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-color: $primary-color;
	@include atleast-xs {
		height: 280px;
		padding-bottom: 3rem;
	}
	@include atleast-sm {
		height: 320px;
		padding-bottom: 4rem;
	}
}

.background-image--tall {
	height: 80vh;
}

/*
 * Images
 */

/* About image */
.background-image--about {
	background-image: url('../images/s1291.png');
}

/* Random image via php */
.background-image--random {
	background-image: url('../images/c3--1600.jpg');
}

/* Fixed images */
.fixed-background-image--c2 {
	background-image: url('../images/c2--1600.jpg');
}

.fixed-background-image--c3 {
	background-image: url('../images/c3--1600.jpg');
}

.fixed-background-image--c4 {
	background-image: url('../images/c4--1600.jpg');
}

.fixed-background-image--c4 {
	background-image: url('../images/c4--1600.jpg');
}

.fixed-background-image--c5 {
	background-image: url('../images/c5--1600.jpg');
}

.fixed-background-image--c6 {
	background-image: url('../images/c6--1600.jpg');
}

.fixed-background-image--c7 {
	background-image: url('../images/c7--1600.jpg');
}

.fixed-background-image--c8 {
	background-image: url('../images/c8--1600.jpg');
}

.fixed-background-image--c9 {
	background-image: url('../images/c9--1600.jpg');
}

.fixed-background-image--c10 {
	background-image: url('../images/c10--1600.jpg');
}

.fixed-background-image--c11 {
	background-image: url('../images/c12--1600.jpg');
}

/* D.C. Circuit */
.fixed-background-image--c12 {
	background-image: url('../images/c12--1600.jpg');
}

/* Supreme Court */
.fixed-background-image--c13 {
	background-image: url('../images/c13--1600.jpg');
}