//
// Title for index, single, and page templates
//
.title-container {
	display: block;
	max-width: 570px;
	padding: 0 15px;
	@include above-lg {
		max-width: 798px;
	}
}

.title-container--narrow {
	@include above-lg {
		max-width: 570px;
	}
}

.title {
	margin-top: 0;
	margin-bottom: 1.25rem;
	line-height: 1.2;
}

// Style for index- and page-based pages
.center-title {
	text-align: center;
}

//
// The post category; used throughout the site
//
.post__category {
	font-family: Raleway, sans-serif;
	font-size: 1rem;
	color: $primary-color;
}

//
// Copy
//

// Style for headings in containers
.container__heading  {
	width: 100%;
	margin-top: 0;
	text-align: center;
	font-family: Raleway, sans-serif;
}

// Holds the copy
.copy-container {
	flex-direction: column;
	align-items: center;
}

// The body: subheading, info, and text
.copy-container__body {
	padding: 0 15px;
	max-width: 570px;
}

// Add bottom-borders to links in body copy
.copy-container__body a,
.copy-container__body a:visited {
	border-bottom: solid 2px $primary-color;
}

.copy-container__body a:hover,
.copy-container__body a:focus {
	border-bottom: solid 2px $primary-color--lighter;
}

.copy-container__body a:active {
	border-bottom: solid 2px $primary-color--darker;
}

//
// Styling for post info: date and author
//
.post-info-container {
	justify-content: space-between;
}

.post-info-container__date,
.post-info-container__author {
	width: 50%;
}

.post-info-container__author {
	text-align: right;
	font-style: italic;
}


//
// Single post-specific styling
//
// Centering div
// Appears only on large screens to center the post content
// (Needs three divs to center the post)
.copy-container__centering-div {
	display: none;
	width: 54px;
	@include above-lg {
		display: block;
	}
}

// Switch to row-reverse at sufficient width
.copy-container--single-post {
	@include above-lg {
		flex-direction: row-reverse;
		justify-content: space-between;
		align-items: flex-start;
		width: 798px;
	}
}

// Excerpt title & subtitle styles
// Needed because they're link
.title--dark-shade {
	color: $dark-shade;
}


















/*
 * Stylings for just excerpts
 */
.post__excerpt {
	flex-direction: column;
	align-items: center;
}


