//
// Sharing icons
//

// Container for the sharing icons on posts
// Starts horizontal at the bottom of posts
// Becomes vertical above the large size
.share-container {
	justify-content: space-between;
	width: 240px;
	margin: 0 auto;
	@include above-lg {
		flex-direction: column;
		justify-content: flex-start;
		width: 54px;
		margin: 0;
		padding-left: 15px;
	}
}

// Styling for the sharing icons themselves
.share-container__link {
	padding: 9px;
	font-size: 42px;
	color: $primary-color;
	@include above-lg {
		padding: 3px;
		font-size: 36px;
	}
}