//
// Basics
//
* {
    box-sizing: border-box;
    text-decoration: none;
}

html {
    font-size: 100%;
}

body {
    font-family: "Cormorant Garamond", serif;
    font-weight: 600;
    background-color: $light-shade;
    color: $dark-shade;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: $fd-dark;
        color: $light-shade
    }
}
